@use '../../styles/mixins' as *;

.primary {
  @include button(primary);
}

.secondary {
  @include button(secondary);
}

.floating {
  @include button(primary);

  position: absolute;
  bottom: var(--spacing-l);
  right: var(--spacing-l);
  border-radius: 50%;
  padding: var(--spacing-s);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);


  @media (max-width: 768px) {
    width: 64px;
    height: 64px;
  }

  svg {
    width: 24px !important;
    height: 24px !important;
  }
}

.round {
  padding: var(--spacing-s);
}

.sm {
  padding: var(--spacing-xs) var(--spacing-m);
  font-size: var(--font-size-s);
}

.md {
  padding: var(--spacing-s) var(--spacing-l);
}

.lg {
  padding: var(--spacing-m) var(--spacing-xl);
  font-size: var(--font-size-l);
}

.fill {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-m) var(--spacing-xl);
}

.disabled {
  pointer-events: none;
}
