@use '../../styles/mixins' as *;

.primary {
  @include button(primary);
}

.secondary {
  @include button(secondary);
}

.sm {
  padding: var(--spacing-xs) var(--spacing-m);
  font-size: var(--font-size-s);
}

.md {
  padding: var(--spacing-s) var(--spacing-l);
}

.lg {
  padding: var(--spacing-m) var(--spacing-xl);
  font-size: var(--font-size-l);
}

.fill {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-m) var(--spacing-xl);
}

.disabled {
  pointer-events: none;
}
