@use "../../styles/mixins" as m;

.field {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
    width: 100%;
}

.label {
    @include m.label-base;
}

.input {
    @include m.input-base;
}

.inputError {
    @include m.input-error;
}

.fieldError {
    @include m.field-error;
}

.fieldWarning {
    @include m.field-warning;
}

.suffixWrapper {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}