@use "../../../../styles/variables" as v;

.form {
    background-color: var(--color-background-secondary);
    padding: var(--spacing-l);
    border-radius: var(--radius-m);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.field {
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: var(--font-weight-medium);
    margin-bottom: var(--spacing-xs);
    color: var(--color-text-primary);
}

.select {
    padding: var(--spacing-s);
    border-radius: var(--radius-s);
    border: 1px solid var(--color-border-primary);
    font-size: var(--font-size-m);
    background: var(--color-background-primary);
    color: var(--color-text-primary);
}

.row {
    display: flex;
    gap: var(--spacing-m);
    align-items: center;

    input, select {
        height: 60px;
    }
    select {
        margin-top: var(--spacing-s);
    }
}

  
.unitSelect {
    padding: var(--spacing-m);
    border-radius: var(--radius-m);
    border: 2px solid var(--color-border-primary);
    font-size: var(--font-size-m);
    border-radius: var(--radius-m);
    background: var(--color-background-primary);
    color: var(--color-text-primary);
    width: 80px;
}

.sectionTitle {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-l);
    margin-top: var(--spacing-l);
    margin-bottom: var(--spacing-m);
    color: var(--color-text-primary);
}
