@use "../../../../styles/mixins" as m;

.row {
    display: flex;
    gap: var(--spacing-m);
    align-items: center;

    input, select {
        height: 60px;
    }
    select {
        margin-top: var(--spacing-s);
    }
}
  
.unitSelect {
    @include m.select;
    width: 80px;
}

.buttonRow {
    display: flex;
    gap: var(--spacing-s);

    button {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .buttonRow {
        flex-direction: column;
    }
}