.environmentHeader {
    border-radius: var(--radius-l);
    border: 1px solid var(--color-border-secondary);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    padding: var(--spacing-xl);
}

.environmentInfo {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-m);
    margin-bottom: var(--spacing-l);
}

.environmentTitle {
    h1 {
        font-size: var(--font-size-xxl);
        font-weight: var(--font-weight-bold);
        color: var(--color-text-primary);
        margin: 0 0 var(--spacing-xs) 0;
    }

    p {
        color: var(--color-text-tertiary);
        margin: 0;
    }
}