.container {
    min-height: 100vh;
    background-color: var(--color-background-primary);
}

.arrow{
    transform: rotate(180deg);
    margin-right: var(--spacing-l);
}

.plantsSection h2 {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-medium);
    color: var(--color-text-primary);
    margin: 0 0 var(--spacing-m) 0;
}

.eventTab {
    margin-bottom: var(--spacing-m);
    
    h4 {
        margin-bottom: var(--spacing-m);
    }
}

.tabRow {
    display: flex;

    button {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem;
    }
}