
.sectionHeading {
    text-align: center;
    padding: var(--spacing-m);
}

.dateHeader {
    padding: var(--spacing-xs) 0;
    margin-bottom: var(--spacing-s);

    h4 {
        font-size: var(--font-size-s);
        font-weight: var(--font-weight-medium);
        color: var(--color-text-tertiary);
    }
}

.timelineList {
    padding: 0;
    list-style-type: none
}

.timelineItem {
    padding-left: var(--spacing-l);
    border-left: 1px solid var(--color-border-primary);
}

.card {
    padding: var(--spacing-m);
    border: 1px solid var(--color-border-secondary);
    border-radius: var(--radius-m);
    background: var(--color-background-primary);
}

.eventTop {
    margin-bottom: 4px;
}

.eventTitleWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center
}

.eventTitle {
    font-weight: var(--font-weight-medium);
    display: flex;
    align-items: center;
    gap: var(--spacing-s);
}

.eventTime {
    font-size: var(--font-size-xs);
    color: var(--color-text-tertiary);
}

.eventNotes {
    font-size: var(--font-size-s);
    margin-top: var(--spacing-xs);
}

.badge {
    font-size: var(--font-size-xs);
    padding: 4px 8px;
    border-radius: var(--radius-l);
    font-weight: var(--font-weight-medium);
    height: fit-content;
}

.timelineIcon {
    padding: var(--spacing-xs);
    border-radius: var(--radius-circle);
    border: 2px solid var(--color-background-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Climate_Adjustment {
    background: #fff3e0;
    color: #e65100;
    border-color: #ffcc80;
}

.Equipment_Change {
    background: #e3f2fd;
    color: #0d47a1;
    border-color: #90caf9;
}

.Maintenance {
    background: #f3e5f5;
    color: #6a1b9a;
    border-color: #ce93d8;
}

.Cleaning {
    background: #e8f5e9;
    color: #1b5e20;
    border-color: #a5d6a7;
}