@use '../../../../styles/mixins' as *;

.featureCard {
  @include card-container;
  background-color: var(--color-background-primary);

  .icon {
    background: var(--color-background-tertiary);
    border-radius: var(--radius-l);
    display: flex;
    align-items: center;
    font-size: 1.75rem;
    margin-bottom: var(--spacing-m);
  }
}