
.page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, var(--color-background-primary) 0%, var(--color-background-secondary) 100%);
    padding: var(--spacing-m);
}

.main {
    width: 100%;
    max-width: 500px;
    background-color: var(--color-background-secondary);
    border: 1px solid var(--color-border-primary);
    
    h1 {
        font-size: var(--font-size-xxl);
        font-weight: var(--font-weight-bold);
        color: var(--color-text-primary);
        margin: var(--spacing-xl);
        text-align: center;
    }
}