.appWrapper {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin: 0 auto;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
    height: 100vh;
    position: relative;
}

.pageContainer {
    width: 100%;
    background-color: var(--color-background-primary);
    flex: 1;
}

.contentWrapper {
    padding: var(--spacing-xl) var(--spacing-m);
}

.authPageContainer {
    @extend .pageContainer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, var(--color-background-primary) 0%, var(--color-background-secondary) 100%);
    padding: var(--spacing-m);
}

.authMainContent {
    width: 100%;
    max-width: 500px;
    background-color: var(--color-background-secondary);
    border: 1px solid var(--color-border-primary);
    border-radius: var(--border-radius-m);
    
    h1 {
        font-size: var(--font-size-xxl);
        font-weight: var(--font-weight-bold);
        color: var(--color-text-primary);
        margin: var(--spacing-xl);
        text-align: center;
    }
}