@use "./reset"; 
@use "./dark";
@use "./variables";
@use "./mixins";
  
:root {
    --color-background-primary: #ddd9d9;
    --color-background-secondary: #acabab;
    --color-surface-brand-primary: #f68201;
    --color-text: #FAFAFA;
    --color-text-primary: #212121;
    --color-bg-primary: #ededed;
}

body {
    font-family: sans-serif;
    background: var(--color-bg-primary);
    color: var(--color-text-primary);
    line-height: 1.5;
}
