@use "./reset"; 
@use "./variables" as v;
@use './layout';
@use './recharts';

body {
  font-family: sans-serif;
  background: var(--color-background-primary);
  color: var(--color-text-primary);
  line-height: 1.5;
}

@function is-map($value) {
  @return type-of($value) == 'map';
}

@mixin generate-vars($map, $prefix) {
  @each $key, $value in $map {
    @if is-map($value) {
      @include generate-vars($value, "#{$prefix}-#{$key}");
    } @else {
      --#{$prefix}-#{$key}: #{$value};
    }
  }
}

:root {
  @include generate-vars(v.$colors-light, "color");
  @include generate-vars(v.$fonts, "font");
  @include generate-vars(v.$buttons-light, "button");
  @include generate-vars(v.$radii, "radius");
  @include generate-vars(v.$spacings, "spacing");
  @include generate-vars(v.$icon-sizes, "icon");
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    @include generate-vars(v.$colors-dark, "color");
    @include generate-vars(v.$buttons-dark, "button");
  }
}

:root[data-theme="dark"] {
  @include generate-vars(v.$colors-dark, "color");
  @include generate-vars(v.$buttons-dark, "button");
}
