.metric {
    font-size: var(--font-size-s);
    border-radius: var(--radius-m);
    
    .iconWrapper {
        left: var(--spacing-xs);
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}

.content {
    padding: var(--spacing-l);
    width: 100%;
    background: var(--color-background-primary);
    border-radius: var(--radius-m);
}

.labelWrapper {
    display: flex;
    width: 100%;
    gap: var(--spacing-m);
    margin-bottom: var(--spacing-m);
    align-items: center;
}

.label {
    font-size: var(--font-size-l);
    color: inherit;
}

.value {
    font-weight: bold;
    font-size: var(--font-size-xl);
}

.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-m);
}