.metric {
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    padding: var(--spacing-xs);
    font-size: var(--font-size-s);
    border: 1px solid rgb(231, 229, 228);
    border-radius: var(--radius-m);
    text-align: center;
    
    .iconWrapper {
        position: absolute;
        left: var(--spacing-xs);
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.label {
    font-size: var(--font-size-xs);
    color: inherit;
}

.value {
    font-weight: bold;
}
