.heroSection {
    background-color: var(--color-background-secondary);
    
    .heroText {
        text-align: center;

        h1 {
            font-size: var(--font-size-xxl);
        }
        
        > * {
            margin-bottom: var(--spacing-l);
        }
    }

    .buttonLink {
        color: inherit;
        text-decoration: none;
    }

    .heroBtnWrapper {
        margin-top: var(--spacing-m);
        display: flex;
        gap: var(--spacing-s);
        justify-content: center;
    }
}