.page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--color-background-primary); 
  color: var(--color-text-primary);
}

.main {
  max-width: 800px;
  padding: var(--spacing-2xl);
  background-color: var(--color-background-secondary);
}
