@use '../styles/mixins' as *;

.page {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--color-background-primary); 
  color: var(--color-text-primary);

  p {
    color: var(--color-text-tertiary);
  }
  
  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}