@use '../../../../styles/mixins' as *;

.stepCard {
  @include card-base;
  background-color: var(--color-background-secondary);

  .num {
    font-size: var(--font-size-xl);
    width: 56px;
    height: 56px;
    background-color: var(--color-background-tertiary);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--color-text-secondary);
  }
}