.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-m);
    background-color: var(--color-background-primary);
    position: sticky;
    top: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1;
}
.logo{
    color: var(--color-text-primary);
    text-decoration: none;
}

.navList {
    display: flex;
    gap: var(--spacing-m);
    list-style: none;
}

.link{
    color: var(--color-text-primary);
    text-decoration: none;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}
