.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-l);
    padding: var(--spacing-3xl) var(--spacing-2xl);

    h2 {
       font-size: var(--font-size-xxl);
    }

    h3 {
       font-size: var(--font-size-xl);
    }

    p {
        font-size: var(--font-size-l);
    }
}