@use '../../styles/layout' as *;

.container {
    @extend .pageContainer;
}

.content {
    @extend .contentWrapper;
}

.header {
    margin-bottom: var(--spacing-xl);

    p {
        color: var(--color-text-tertiary);
        margin: 0;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 5fr));
    gap: var(--spacing-l);
}