@use "../../styles/mixins" as m;
.card {
    @include m.card;

    &:hover {
        cursor: pointer;    
    }
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: var(--spacing-m);
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: var(--spacing-s);
}

.titleGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-l);
    color: var(--color-text-primary);
    margin: 0;
}

.location {
    font-size: var(--font-size-s);
    color: var(--color-text-tertiary);
    margin: var(--spacing-xs) 0 0 0;
}

.footer {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    padding-top: var(--spacing-s);
    border-top: 1px solid var(--color-border-primary);
    margin-bottom: 0;

    svg {
        width: var(--font-size-m);
        height: var(--font-size-m);
        color: var(--color-text-success);
    }
}
