@use '../../styles/mixins' as *;

.tableFilterBar {
    border-bottom: 1px solid var(--color-background-primary);
    width: 100%;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    padding: var(--spacing-s) 0;

    .tableFilters {
        display: flex;
        gap: var(--spacing-s);
        align-items: center;
    }

    .filterTab {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: var(--spacing-xs) var(--spacing-s);
        border-radius: var(--radius-s);
        background-color: var(--color-background-tertiary);
        color: var(--color-text-secondary);
        font-size: 0.9rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        position: relative;

        svg {
            display: inline-block;
        }

        &.selected {
            color: var(--color-text-primary);
            font-weight: 700;

            > div {
                color: var(--color-highlight-action);
            }
        }

        > div {
            color: var(--color-text-secondary);
            border-radius: var(--radius-s);
            min-width: 18px;
            text-align: center;
        }
    }
}
