.tableActionBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-m) 0;

    .leftActions {
        display: flex;
        gap: var(--spacing-s);
    }

    .rightActions {
        .searchInputWrapper {
            position: relative;

            .searchIcon {
                position: absolute;
                top: 50%;
                left: var(--spacing-s);
                transform: translateY(-50%);
                color: var(--color-text-tertiary);
                pointer-events: none;
            }

            .searchInput {
                padding: var(--spacing-s) var(--spacing-m) var(--spacing-s) var(--spacing-l);
                border: 1px solid var(--color-text-tertiary);
                border-radius: var(--radius-s);
                font-size: var(--font-size-s);
                width: 200px;

                &:focus {
                    border-color: var(--text-primary);
                    outline: none;
                }
            }
        }
    }
}