.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-m);
    aspect-ratio: 1 / 1;
    height: auto; 
    padding: var(--spacing-s);
}

.icon {
    width: auto;
    max-height: var(--icon-l);
    min-height: var(--icon-m);
}

.fixedSize {
    height: auto;
    width: auto;
}

.stretch {
    height: 100%;
}

