@use '../../../../../styles/layout' as *;

.container {
    @extend .pageContainer;
}

.content {
    @extend .contentWrapper;
}

.backButton {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-l);
}

.arrow {
    transform: rotate(180deg);
    margin-right: var(--spacing-xs);
}