.header {
    padding: var(--spacing-xl);
    display: flex;
    flex-direction: column;
    
    @media (min-width: 768px) {
        margin-bottom: 0;
        flex-direction: row;
        justify-content: space-between;
    }

}

.info {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
    margin-bottom: var(--spacing-l);
    
    @media (min-width: 1600px) {
        margin-bottom: 0;
    }
}

.title {
    display: flex;
    gap: var(--spacing-s);
    align-items: center;
}