@use '../../../../../styles/mixins' as *;

.sectionHeading {
    text-align: center;
    padding: var(--spacing-m);
}

.dateHeader {
    padding: var(--spacing-xs) 0;
    margin-bottom: var(--spacing-s);

    h4 {
        font-size: var(--font-size-s);
        font-weight: var(--font-weight-medium);
        color: var(--color-text-tertiary);
    }
}

.timelineList {
    padding: 0;
    list-style-type: none
}

.timelineItem {
    padding-left: var(--spacing-l);
    border-left: 1px solid var(--color-border-primary);
}

.card {
    @include card-base;
    padding: var(--spacing-m);
    margin-bottom: 0;
    text-align: inherit;
}


.eventTop {
    margin-bottom: 4px;
}

.eventTitleWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: var(--spacing-s);
}

.eventTitle {
    font-weight: var(--font-weight-medium);
    display: flex;
    align-items: center;
    gap: var(--spacing-s);
}

.eventTime {
    font-size: var(--font-size-xs);
    color: var(--color-text-tertiary);
}

.eventNotes {
    font-size: var(--font-size-s);
    margin-top: var(--spacing-xs);
    height: 25px;
}

.badge {
    font-size: var(--font-size-xs);
    padding: 4px 8px;
    border-radius: var(--radius-l);
    font-weight: var(--font-weight-medium);
    height: fit-content;
}

.timelineIcon {
    padding: var(--spacing-xs);
    border-radius: var(--radius-circle);
    border: 2px solid var(--color-background-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Climate_Adjustment {
    background: #fff3e0;
    color: #e65100;
    border-color: #ffcc80;
}

.Equipment_Change {
    background: #e3f2fd;
    color: #0d47a1;
    border-color: #90caf9;
}

.Maintenance {
    background: #f3e5f5;
    color: #6a1b9a;
    border-color: #ce93d8;
}

.Cleaning {
    background: #e8f5e9;
    color: #1b5e20;
    border-color: #a5d6a7;
}

.WATERING {
    background: #e0f7fa;
    color: #006064;
    border-color: #4dd0e1;
}

.FERTILIZING {
    background: #f1f8e9;
    color: #33691e;
    border-color: #aed581;
}

.REPOTTING {
    background: #fff3e0;
    color: #e65100;
    border-color: #ffcc80;
}

.PEST_CONTROL {
    background: #fce4ec;
    color: #880e4f;
    border-color: #f8bbd0;
}

.PRUNING {
    background: #ede7f6;
    color: #4a148c;
    border-color: #b39ddb;
}


.eventsGrid {
    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
  
    @media (min-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    @media (min-width: 1600px) {
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
}
