@use "../../../../styles/mixins" as m;

.card {
    @include m.card;
    box-shadow: none;
    border: 1px solid var(--color-border-primary);
    cursor: pointer;
    text-align: start;

    &:hover {
        transform: none;
        background-color: var(--color-background-tertiary);
        color: var(--color-text-primary);

        .title, .species {
            color: white;
        }

        .arrowRight {
            svg {
                color: white;
            }
        }
    }
}

.content {
    display: flex;
    align-items: center;
    gap: var(--spacing-s);
    margin-bottom: 0;
    justify-content: space-between;
}

.iconWrapper {
    width: 3rem;
    height: 3rem;
    border-radius: var(--radius-circle);
    background-color: var(--color-flag-success);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    svg {
        width: 1.5rem;
        height: 1.5rem;
        color: var(--color-text-success);
    }
}

.title {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-medium);
    color: var(--color-text-primary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.species {
    font-size: var(--font-size-m);
    color: var(--color-text-tertiary);
    font-style: italic;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.waterValues {
    display: flex;
    gap: var(--spacing-s);
    margin-top: var(--spacing-xs);
}

.badge {
    font-size: var(--font-size-s);
    border-radius: var(--radius-s);

    &.ph {
        color: var(--color-text-primary);
    }

    &.ec {
        color: var(--color-text-alert);
    }
}