@use '../../../../styles/mixins' as *;

.customerCard {
  @include card-base;
  background-color: var(--color-background-primary);

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  li {
    font-size: var(--font-size-l);
  }
}